body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
  justify-content: center;
  gap: 24px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 500px;
  align-items: center;
  margin-top: 20px;
  gap: 12px;
}

.board {
  width: 500px;
  height: 500px;
  display: grid;
  border: 1px solid black;
}
